*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/mesh/mesh.aar
/mesh/mesh-sources.jar
/mesh/build/
/app/src/main/assets/mesh-0.3.8-linux-arm64
/app/src/main/assets/mesh-0.3.8-linux-armhf
/.idea/
